<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script type="text/javascript" language="javascript" src="{{url_for('static',filename='script.js')}}"></script>
  </head>

  <body>
    
    {% include 'header_menu.html' %}

    <div style="padding: 0px 120px">
        <section class="section">
            <h2 class="section-header" style="margin-top: 0px" center></h2>
            <p style="color: #989898; font-size: 16px">
                Post in: <b>author</b>
                <span style="padding-left: 20px">Last updated: Nov-2021 </span>
                <span style="padding-left: 20px">9 viewed </span>
            </p>
            <div class="entry-content">
                <blockquote>
                    <p>
                    Trang Blogs được tổng hợp từ ba bài HMTM cơ bản, JSDOM,
                    Hackathon.Blog.....<br>
                    Nguồn tham khảo: hanhdt1
                    </p>
                </blockquote>
                <div>
                    <h3>
                        #1 Blogs đơn giản, cho phép người dùng đăng và xem các bài post, chỉnh sửa bài post cũng như một API để tạo mẫu file .docx đơn giản
                    </h3>
                    <p>
                        <li>
                        Trang chủ (homepage): Hiển thị tất cả các bài viết (theo thứ tự mới nhất -> cũ nhất), đồng thời có một form cho phép người dùng nhập thông tin để tạo một post mới
                        </li>
                    </p>
                    <p>
                        <li>
                        Trang cập nhật (edit): Hiển thị form kèm dữ liệu hiện tại về một
                        bài post cụ thể, cho phép người dùng chỉnh sửa thông tin, sau đó
                        cập nhật bài post đó
                        </li>
                    </p>
                    <p>
                        <li>
                        Trang giới thiệu (about) giới thiệu thông tin về bản thân/trang
                        web/...
                        </li>
                    </p>
                    <p>
                        <li>
                        Trang tạo file docx (letter) hiển thị form cho phép người dùng
                        nhập một số thông tin, tạo file .docx theo mẫu (tùy chỉnh), sau đó
                        hiển thị link cho phép người dùng tải file về
                        </li>
                    </p>
                </div>
                <div>
                    <h3>
                        #2 Trang Blogs sử dụng HTML, CSS, Javascript đơn giản để hiển thị
                        thông tin có nhúng ảnh, chuyển trang. Đi xuống block cuối cùng có
                        thể demo việc dùng JS để:
                    </h3>
                    <p>
                        <li>
                        Đổi màu theo thứ tự <font color="blue">xanh</font>
                        <font color="red">đỏ</font> <font color="yellow">vàng </font>
                        </li>
                    </p>
                    <p>
                        <li>
                        Bạn cũng có thể thay đổi màu nền, thay đổi <font size="10"> kích thước</font> chữ, đổi nội
                        dung,....
                        </li>
                    </p>
                </div>
                <div>
                    <h3>#3 Những hình ảnh của lớp Python for QC nè</h3>
                    <blockquote>
                        <p>
                        Các thầy bên TT Techmaster & các học viên QC xinh đẹp, ko có PS
                        nên cắt hình bằng snagit ahihi.......!<br>
                        Dù công việc bận rộn hay học hành chăm chỉ thì vẫn luôn xinh...
                        </p>
                    </blockquote>
                    <p style="text-align: center">
                        <a href="#"><img src="../images/a.jpg" alt="luôn xinh nhé" style="width:800px;height:480px;" /></a><br>
                    </p>
                </div>
                <div>
                    <h3>#4 Để trải nghiệm dùng JS xin mời sang tab JSDOM nhé</h3>
                </div>
            </div>
        </section>
    </div>
  </body>

    <footer class="footer">
        <hr />
        <p class="copy-right">@Footer by Footer</p>
    </footer>

</html>
